<h3>User detail</h3>
<p><strong>Username:</strong> <%= @user.login %></p>
<p><strong>E-mail:</strong> <%= @user.email %></p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>